body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;

}

#botao-panel {
    width: 50%;
    text-align: center;
}

.login-page,
.cadastro-form,
.container,
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.login-page,
.cadastro-form {
    width: 300px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.cadastro-form input[type="text"],
.cadastro-form input[type="password"],
.campo-form input,
.campo-form select,
.entrada,
.selecao {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#role {
    margin-top: 10px;
}

.panel-admin {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}
.panel-admin a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.panel-admin a:hover {
    background-color: #4CAF50;
}
h1 {
    color: #4CAF50;
}

.home {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.login-form button,
.cadastro-form button,
.botao {
    width: 90%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 25px;
}

.login-form button:hover,
.cadastro-form button:hover,
.botao:hover {
    background-color: #555;
}

.form-group-cadastro {
    margin-top: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.titulo {
    color: #333;
    text-align: center;
}

.formulario {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.campo-form {
    margin-bottom: 15px;
}

.campo-form label {
    display: block;
    margin-bottom: 5px;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.botao:hover {
    background-color: #45a049;
}

.lista-frutas {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fruta {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 200px;
    justify-content: space-around;
}

.fruta h3 {
    margin-top: 0;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.titulo-principal, .titulo-secao {
    color: #4CAF50;
}

.descricao {
    margin-bottom: 20px;
}

.tabela-vendas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tabela-vendas th, .tabela-vendas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.tabela-vendas th {
    background-color: #f2f2f2;
}

.form-fruta {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input,
.form-checkbox,
.form-submit {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the final computed width of the input */
}

.form-checkbox {
    width: auto;
}

.form-submit {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #45a049;
}

.titulo-vendedores {
    color: #333;
    font-family: Arial, sans-serif;
}

.tabela-vendedores {
    width: 100%;
    border-collapse: collapse;
}

.tabela-vendedores th, .tabela-vendedores td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.linha-vendedor:nth-child(even) {
    background-color: #f2f2f2;
}

.botao-editar, .botao-excluir {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.botao-editar {
    background-color: #4CAF50; /* Green */
}

.botao-excluir {
    background-color: #f44336; /* Red */
}

nav {
    background-color: #f0f0f0; /* Cor de fundo do nav */
    padding: 10px 20px; /* Espaçamento interno */
}

nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding padrão */
    overflow: hidden; /* Garante que o conteúdo ultrapassado será cortado */
}

nav ul li {
    float: left; /* Alinha os itens da lista horizontalmente */
}

nav ul li a {
    display: block; /* Faz o link preencher todo o espaço do <li> */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 14px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove o sublinhado do link */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

nav ul li a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
}
