{% extends 'base.html' %}

{% block content %}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="POST" class="cadastro-form" action="{% url 'create_user' %}">
        {% csrf_token %}
        <h2>Registrar</h2>
        <div>
            <label for="nome">Username:</label>
            <input type="text" id="username" name="nome" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="role">Cargo:</label>
            <select id="role" name="role" required>
                <option value="admin">Admin</option>
                <option value="vendedor">Vendedor</option>
            </select>
        </div>
        <button type="submit" class="botao">Cadastre</button>
        <a href="{% url 'admin-panel' %}" class="botao" id="botao-panel">Voltar ao painel</a>
    </form>

    <h2 class="titulo-vendedores">Vendedores Cadastrados</h2>
    <table class="tabela-vendedores">
        <thead>
            <tr>
                <th>Nome</th>                
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="linha-vendedor">
                    <td>{{ user.nome }}</td>                    
                    <td>
                        <a href="{% url 'edit_user' user.id %}" class="botao-editar">Editar</a> |
                        <a href="{% url 'delete_user' user.id %}" class="botao-excluir" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">Excluir</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}